<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/styles/contacto.css">
    <title>Contacto</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div>
                <a href="/"><img  class="nav-img" src="../static/images/Vector.svg" alt="logo"></a>
            </div>
            <div>
                <a class="navbutton" href="./products">Products</a>
                <!-- <a class="navbutton" href="/login_work">Login</a> -->
                <a class="navbutton" href="./presupuesto">Presupuesto</a>
                <a class="navbutton this" href="./contacto">Contacto</a>
            </div>
        </div>
        <i class="fa-solid fa-bars"></i>
    </header>
    <div class="backNavbar"></div>
    <div class="navbarAdaptation">
        <div>
            <a href="/"><img  class="nav-img" src="../static/images/Vector.svg" alt="logo"></a>
        </div>
        <div class="navbutton"><a href="./products">Products</a><br></div>
        <div><!-- <a class="navbutton" href="/login_work">Login</a> --></div>
        <div class="navbutton"><a href="./presupuesto">Presupuesto</a><br></div>
        <div class="navbutton this"><a href="./contacto">Contacto</a></div>
    </div>
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5907.138235498841!2d-0.11872941745043507!3d51.50136920419613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2z0JvQvtC90LTQvtC90YHQutC40Lkg0JPQu9Cw0Lc!5e0!3m2!1sru!2sua!4v1712747687907!5m2!1sru!2sua"  style="border:0;" allowfullscreen="fal" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <footer>
        <div class="social-links">
            <a href="https://facebook.com/"><i class="fa-brands fa-facebook"> Facebook</i></a>
            <a href="https://twitter.com/"><i class="fa-brands fa-twitter"> Twitter</i></a>
            <a href="https://instagram.com/"><i class="fa-brands fa-instagram"> Instagram</i></a>
            <a><i class="fa-solid fa-shop"> calle  London eye </i></a>
            <a href="/privacy_policy"><i class="fa-solid fa-folder"> Politica de Privacidad</i></a>
        </div>
    </footer>

    <script>
        const fa_bars = document.querySelector(".fa-bars");
        const navbarAdaptation = document.querySelector(".navbarAdaptation");
        const backNavbar = document.querySelector(".backNavbar");

        fa_bars.addEventListener("click", function() {
            navbarAdaptation.style.marginLeft = "0px";
            backNavbar.style.display = "block";
        });

        backNavbar.addEventListener("click", function() {
            navbarAdaptation.style.marginLeft = "-70%";
            backNavbar.style.display = "none";
        });
    </script>
    
</body>
</html>